= @ticket.name
, there is new answer in your ticket!
\================================================================
\
Staff reply:
= @comment.body
\
To check your ticket or update it, just follow this link: #{@ticket_url}.
\
Thanks and have a nice day!