= @ticket.name
, thanks for submitting your request!
\================================================================
\
We will resolve it as soon as possible.
\
To check your ticket or update it, just follow this link: #{@ticket_url}.
\
Thanks and have a nice day!